{% extends 'base.html' %} {% block content %}
<h1>Dashboard</h1>
<form method="post">
    {% csrf_token %}
    <label for="min_amount">Minimum Amount:</label>
    <input type="number" name="min_amount" id="min_amount">
    <label for="max_amount">Maximum Amount:</label>
    <input type="number" name="max_amount" id="max_amount">
    <button type="submit">Filter</button>
</form>
<table>
    <thead>
        <tr>
            <th>Name &nbsp;</th>
            <th>&nbsp; Amount Remaining to be Invoiced &nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.customer.name }}</td>
            <td>{{ job.total_job_amount_remaining }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}